<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Declare support for various screen sizes -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CLIPBOARD" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- Add this permission -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/image"
        android:label="@string/app_name"
        android:roundIcon="@drawable/image"
        android:supportsRtl="true"
        android:theme="@style/Theme.Resort"
        tools:targetApi="31">
        <activity
            android:name=".VerificationOtp"
            android:exported="false" />
        <activity
            android:name=".accommodation.data.RoomDetailActivity"
            android:exported="false" />
        <activity
            android:name=".AccommodationAddons"
            android:exported="false" />
        <activity
            android:name=".history.data.ViewDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".BookingHistory"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBmR1p6AFBkS3GcuL9nabMTc39bztQnwgU" />

        <activity
            android:name=".Comment"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".BookingReceipt"
            android:exported="false" />
        <activity
            android:name=".accommodation.data.BeverageDetailActivity"
            android:exported="false" />
        <activity
            android:name=".accommodation.data.PackageDetailActivity"
            android:exported="false" />
        <activity
            android:name=".accommodation.data.AlcoholDetailActivity"
            android:exported="false" />
        <activity
            android:name=".accommodation.data.DessertDetailActivity"
            android:exported="false" />
        <activity
            android:name=".accommodation.data.CottageDetailActivity"
            android:exported="false" />
        <activity
            android:name=".accommodation.data.FoodDetailActivity"
            android:exported="false" />
        <activity
            android:name=".accommodation.data.BoatDetailActivity"
            android:exported="false" />
        <activity
            android:name=".VerificationCode"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".VerificationEmail"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AboutUs"
            android:exported="false" />
        <activity
            android:name=".SignUpNext"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Payment"
            android:exported="false" />
        <activity
            android:name=".Feedback"
            android:exported="false" />
        <activity
            android:name=".BookingStatus"
            android:exported="false" />
        <activity
            android:name=".Account"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Notification"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".Booking"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".BottomNavigation"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SignUp"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".BookingStatusService"
            android:exported="false"
            android:foregroundServiceType="location|dataSync" />
    </application>

</manifest>